<div class="bodyClass">
  <mat-toolbar class="app-toolbar" color="primary">
    <span class='application-title'>Morning Assistant</span>
    <span class="example-fill-remaining-space"></span>
    <span class='application-title'>{{currentTime | date:'mediumTime' }}</span>


    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <!-- <fa-icon [icon]="faHome"></fa-icon> -->
    <div class="account-icon">


      <fa-icon [icon]="faUserAlt" mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"></fa-icon>

      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>
          <mat-icon>face</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>


    </div>
  </mat-toolbar>
  <div class="main-content">
    <div class="tiles">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let tile of tiles; let i = index">
          <div *ngIf="tile.type=='weather'" class="small-weather-tile" cdkDrag>
            <div class="weather-tile-info">
              {{tile.city}}
            </div>

            <div class="weather-tile-info">
              <span class="temp"> {{tile.temp}} &#176;C</span>
              {{tile.desc | uppercase }}
            </div>
            <div class="weather-tile-icon">
              <div class="weather-icon-background">
                <img src={{tile.icon}} width="150px" height="150px">
              </div>
            </div>
          </div>
          <div *ngIf="tile.type=='news'" class="small-news-tile" title="{{newsData[newsIndex].desc}}" cdkDrag>
            <div class="news-tile-info">
              <div class="news-tile-image">
                {{tile.category | uppercase}}
                <img class="newsImage" src={{newsData[newsIndex].imageToUrl}} width="250px" height="150px">
              </div>
            </div>

            <div class="news-tile-info">
              {{newsData[newsIndex].title}}
            </div>
          </div>
          <div *ngIf="tile.type=='todolist'" class="to_do-tile" cdkDrag>
            <div class="to_do-container">
              <h2>To do</h2>

              <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="toDoLists[tile.offset]" [cdkDropListConnectedTo]="[doneList]"
                class="to_do-list" (cdkDropListDropped)="dropToDo($event)">
                <div class="to_do-box" *ngFor="let item of toDoLists[tile.offset]" cdkDrag>{{item}}</div>
              </div>
            </div>

            <div class="to_do-container">
              <h2>Done</h2>

              <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneLists[tile.offset]" [cdkDropListConnectedTo]="[todoList]"
                class="to_do-list" (cdkDropListDropped)="dropToDo($event)">
                <div class="done-box" *ngFor="let item of doneLists[tile.offset]" cdkDrag>{{item}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="tile.type=='calendar'" class="calendar-tile" cdkDrag>
            Kalendarz
            <iframe
              src={{tile.category}}
              width="100%" height="300" frameborder="0" scrolling="no"></iframe> </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
