@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/* .example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
} */

.example-boundary {
  width: 100%;
  height: 2000px;
  max-width: 100%;
  border: dotted #ccc 2px;
}
/* The navigation bar */
.my-navbar {
  /* overflow: hidden; */
  background-color: #CBDBD7;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 50px;
  z-index: 10;
  /* padding: 2px; */
  /* margin: 20px; */
}

/* Links inside the navbar */
.application-title {
  color: #FCFFF5;
  font-family: 'Quicksand', sans-serif;


}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
/*
.main-content {
  margin-top: 50px;
} */
/* Color Theme Swatches in Hex */
.Neutral-Blue-1-hex { color: #FCFFF5; }
.Neutral-Blue-2-hex { color: #CBDBD7; }
.Neutral-Blue-3-hex { color: #91AAB4; }
.Neutral-Blue-4-hex { color: #3E606F; }
.Neutral-Blue-5-hex { color: #193441; }

/* Color Theme Swatches in RGBA */
.Neutral-Blue-1-rgba { color: rgba(251, 255, 244, 1); }
.Neutral-Blue-2-rgba { color: rgba(202, 219, 214, 1); }
.Neutral-Blue-3-rgba { color: rgba(144, 170, 179, 1); }
.Neutral-Blue-4-rgba { color: rgba(61, 96, 110, 1); }
.Neutral-Blue-5-rgba { color: rgba(24, 52, 65, 1); }

/* Color Theme Swatches in HSLA */
.Neutral-Blue-1-hsla { color: hsla(78, 100, 98, 1); }
.Neutral-Blue-2-hsla { color: hsla(164, 18, 82, 1); }
.Neutral-Blue-3-hsla { color: hsla(197, 18, 63, 1); }
.Neutral-Blue-4-hsla { color: hsla(198, 28, 33, 1); }
.Neutral-Blue-5-hsla { color: hsla(199, 44, 17, 1); }
/* Change background on mouse-over */
/* .navbar a:hover {
  background: #ddd;
  color: black;
} */


/* *************** */

.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
.example-box2 {
  padding: 80px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
