@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* Links inside the navbar */
.application-title {
  color: #FCFFF5;
  font-family: 'Quicksand', sans-serif;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.app-toolbar {
  background: rgba(0, 0, 0, 0.5);
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.bodyClass {
  height: 200vh;
  background-image: url('https://images.unsplash.com/photo-1498804103079-a6351b050096?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: scroll;
}
.account-icon {
  background: burlywood;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border: 1.5px solid rgb(163, 112, 78);
}
/*written by Pysia*/
.main-content {
  /* position: relative; */
  padding-top: 30px;
}
.tiles {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* ********************   cdkDropList   ********************** */

.to_do-tile {
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
    padding: 5vmin;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: linear-gradient(to bottom right, #d3e247, rgb(119, 128, 47));
    font-size: 22px;
    flex-wrap: wrap;
}
.small-weather-tile {
  font-family: 'Quicksand', sans-serif;
  margin: 20px;
  padding: 5vmin;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: linear-gradient(to bottom right, #6ac0eb, rgb(30, 141, 168));
  font-size: 50px;
  flex-wrap: wrap;
}
.weather-tile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
}
.weather-icon-background {
  background: linear-gradient(to bottom right, #6ac0eb,  rgb(30, 141, 168));
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  width: 150px;
  height: 150px;
  /* border: 1.5px solid rgb(163, 112, 78); */
}

.divider {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(to left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(to left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(to left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(to left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.small-news-tile {
  font-family: 'Quicksand', sans-serif;
  margin: 20px;
  padding: 5vmin;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: linear-gradient(to bottom right, #0f3a50, rgb(41, 109, 126));
  font-size: 22px;
  flex-wrap: wrap;
}
.news-tile-info {
  flex: 1;
  /* display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */
  flex-wrap: wrap;
  padding: 5px;
}
.news-tile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.newsImage {
  border-radius: 10px;
}
.calendar-tile {
  font-family: 'Quicksand', sans-serif;
  margin: 20px;
  padding: 5vmin;
  border-radius: 10px;
  color: rgba(211, 247, 239, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: linear-gradient(to bottom right, #64e098, rgb(103, 195, 218));
  font-size: 22px;
  flex-wrap: wrap;
}

.temp {
  border-bottom: 2px solid linear-gradient(to right, #6ac0eb, #f0f0f0, #6ac0eb);
}

.example-list {
  width: 50vw;
  max-width: 100%;
  background: rgba(0, 0, 0, 0);
  /* border: solid 1px #ccc; */
  min-height: 60px;
  display: block;

  border-radius: 4px;
  overflow: hidden;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.5);
}

.cdk-drag-animating {
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* ********************   cdkDropList END  ********************** */


/* new classes */
.to_do-container {
  width: 350px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.to_do-list {
  width: 50vw;
  max-width: 100%;
  background: rgba(0, 0, 0, 0);
  /* border: solid 1px #ccc; */
  min-height: 60px;
  display: block;

  border-radius: 4px;
  overflow: hidden;
}

.to_do-box {
  margin: 10px;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  border-radius: 10px;

}
.done-box {
  margin: 10px;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  text-decoration: line-through;
  border-radius: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.to_do-box:last-child {
  border: none;
}

.to_do-list.cdk-drop-list-dragging .to_do-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
