<div class="header">
  <div class="logo">Morning Assistant</div>
</div>
<div class = "login">

  <div class = "avatar">
      <i class="fa fa-user"></i>
  </div>

  <h2>Login form</h2>

  <div class = "box-login">
      <i class="fas fa-envelope"></i>
      <input type = "text" placeholder="Email">
  </div>

  <div class = "box-login">
      <i class="fas fa-lock"></i>
      <input type = "password" placeholder="Password">
  </div>

  <button type="submit" class="btn-login">Login</button>
  <div class="bottom">
      <a href="">Register</a>
      <a href="">Forgot password</a>
  </div>
</div>
