.body-class
{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1571609865665-7c35637e0df2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1555&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1571609865665-7c35637e0df2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1555&q=80');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Lato";
}

.login
{

    position:absolute;
    top: 46%;
    left: 85%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    padding: 20px;
    width: 270px;
    box-shadow: 0 0 10px 5px grey;
}

.avatar
{
    font-size: 30px;
    transform: translate(-50%, -50%);
    background: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 0;
    border-radius: 50%;
    border: 2px solid grey;
}

.login h2
{
    text-align: center;
    color: white;
    padding-top: 10px;
    letter-spacing: 1px;
    font-family:"Lato";
}

.box-login
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
    padding: 8px 0;
}

.box-login i
{
    font-size: 20px;
    color: white;
}

.box-login input
{
    width: 100%;
    padding: 0 10px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.box-login input::placeholder
{
    color:white;
    font-family: "Lato";
}

.btn-login
{
    width: 100%;
    background: none;
    padding: 15px;
    border: 1px solid white;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    font-family: "Lato";
}

.btn-login:hover
{
    background: rgba(0,0,0,0.8);
}

.bottom
{
    display: flex;
    justify-content: space-between;
}

.bottom a
{
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
}

.bottom a:hover
{
    text-decoration: underline;
}

.menu
{
    float: left;
    line-height: 100px;
}
.header
{
    margin: 0px;
    padding: 0px;
    height: 80px;
    background-color: rgba(0,0,0,0.5);
    font-family: "Lato";
    background-size: cover;
    background-position: center;


}

.logo
{
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
