<div class="body-class">
  <div class="header">
    <div class="logo">Morning Assistant</div>
  </div>
  <div class="login">
    <div class="avatar">
      <i class="fa fa-user"></i>
    </div>

    <h2>Register form</h2>

    <div class="box-login">
      <i class="fas fa-envelope"></i>
      <input type="text" placeholder="Username" [(ngModel)]="username" />
    </div>
    <div class="box-login">
      <i class="fas fa-envelope"></i>
      <input type="text" placeholder="Email" [(ngModel)]="email" />
    </div>

    <div class="box-login">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" [(ngModel)]="password1" />
    </div>

    <div class="box-login">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" [(ngModel)]="password2" />
    </div>

    <button type="submit" class="btn-login" (click)="register()">
      Register
    </button>
    <div class="bottom">
      <a href="#">Login</a>
    </div>
  </div>
</div>
